In [2]:
for i in 'Zero to mastery':
    print(i)
#Here 'Zero to mastery' is an iterable

Z
e
r
o

t
o

m
a
s
t
e
r
y

In [3]:
for item in [1,2,3]:
    print(item)

1
2
3

In [4]:
for item in {1,2,3}:
    print(item)

1
2
3

In [5]:
#nesting for loops
for item in [1,2,3]:
    for x in ['a','b','c']:
        print(item)
        print(x)

1
a
1
b
1
c
2
a
2
b
2
c
3
a
3
b
3
c

In [6]:
for item in [1,2,3]:
    for x in ['a','b','c']:
        print(item,x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

### Iterables  -- Objects/collection that can be iterated over
It can be string,list,set,dictionary,tuple

In [7]:
user = {
    'name':'prajna',
    'location':'bangalore'
}

In [8]:
for item in user:
    print(item)

name
location

In [11]:
for item in user.keys():
    print(item)

name
location

In [9]:
for item in user.values():
    print(item)

prajna
bangalore

In [10]:
for item in user.items():
    print(item)

('name', 'prajna')
('location', 'bangalore')

In [12]:
for item in user.items():
    key,value =item
    print(key,value)

name prajna
location bangalore

In [13]:
for item in user.items():
    for i in item:
        print(i)

name
prajna
location
bangalore

In [25]:
for key,value in user.items():
    print(key,value)

name prajna
location bangalore

In [26]:
for item in 50:
    print(item)

TypeError: 'int' object is not iterable

#### int object is not an iterable

In [29]:
### sum items in a list
lst =  [1,2,3,4,5,7,8,9,10]
sum_lst = 0
for item in lst:
    sum_lst += item
print(sum_lst)

49

In [37]:
import functools
functools.reduce(lambda a,b:a+b,lst)

49

In [38]:
for item in range(3):
    print(item)
    #range produces dequence of int from start to end

0
1
2

In [39]:
for item in range(0,7,2):
    print(item)

0
2
4
6

In [40]:
for item in range(0,10,-1):
    print(item)

In [41]:
for item in range(10,0,-1):
    print(item)

10
9
8
7
6
5
4
3
2
1

In [43]:
for i in range(2):
    print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Enumerate -- gives us index counter and item at that index

In [44]:
for char in enumerate('Hello Prajna'):
    print(char)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'P')
(7, 'r')
(8, 'a')
(9, 'j')
(10, 'n')
(11, 'a')

In [45]:
for i,char in enumerate('Hello'):
    print(i,char)

0 H
1 e
2 l
3 l
4 o

In [46]:
for char in enumerate({1,2,3}):
    print(char)

(0, 1)
(1, 2)
(2, 3)

#### enumerate works over a iterable -- tuple,list,string,set,dict

In [56]:
for i,j in enumerate(user.items()):
    print(i,j)

0 ('name', 'prajna')
1 ('location', 'bangalore')

In [72]:
#find index of no 50 in the list
for i,val in enumerate(list(range(1,52))):
    #print(i,val)
    if val == 50:
        print(f"The index for no {val} is {i}")

The index for no 50 is 49