In [2]:
for i in 'Zero to mastery':
    print(i)
#Here 'Zero to mastery' is an iterable

Z
e
r
o

t
o

m
a
s
t
e
r
y

In [3]:
for item in [1,2,3]:
    print(item)

1
2
3

In [4]:
for item in {1,2,3}:
    print(item)

1
2
3

In [5]:
#nesting for loops
for item in [1,2,3]:
    for x in ['a','b','c']:
        print(item)
        print(x)

1
a
1
b
1
c
2
a
2
b
2
c
3
a
3
b
3
c

In [6]:
for item in [1,2,3]:
    for x in ['a','b','c']:
        print(item,x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

### Iterables  -- Objects/collection that can be iterated over
It can be string,list,set,dictionary,tuple

In [7]:
user = {
    'name':'prajna',
    'location':'bangalore'
}

In [8]:
for item in user:
    print(item)

name
location

In [11]:
for item in user.keys():
    print(item)

name
location

In [9]:
for item in user.values():
    print(item)

prajna
bangalore

In [10]:
for item in user.items():
    print(item)

('name', 'prajna')
('location', 'bangalore')

In [12]:
for item in user.items():
    key,value =item
    print(key,value)

name prajna
location bangalore

In [13]:
for item in user.items():
    for i in item:
        print(i)

name
prajna
location
bangalore

In [25]:
for key,value in user.items():
    print(key,value)

name prajna
location bangalore

In [26]:
for item in 50:
    print(item)

TypeError: 'int' object is not iterable

#### int object is not an iterable

In [29]:
### sum items in a list
lst =  [1,2,3,4,5,7,8,9,10]
sum_lst = 0
for item in lst:
    sum_lst += item
print(sum_lst)

49

In [37]:
import functools
functools.reduce(lambda a,b:a+b,lst)

49

In [38]:
for item in range(3):
    print(item)
    #range produces dequence of int from start to end

0
1
2

In [39]:
for item in range(0,7,2):
    print(item)

0
2
4
6

In [40]:
for item in range(0,10,-1):
    print(item)

In [41]:
for item in range(10,0,-1):
    print(item)

10
9
8
7
6
5
4
3
2
1

In [43]:
for i in range(2):
    print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Enumerate -- gives us index counter and item at that index

In [44]:
for char in enumerate('Hello Prajna'):
    print(char)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'P')
(7, 'r')
(8, 'a')
(9, 'j')
(10, 'n')
(11, 'a')

In [45]:
for i,char in enumerate('Hello'):
    print(i,char)

0 H
1 e
2 l
3 l
4 o

In [46]:
for char in enumerate({1,2,3}):
    print(char)

(0, 1)
(1, 2)
(2, 3)

#### enumerate works over a iterable -- tuple,list,string,set,dict

In [56]:
for i,j in enumerate(user.items()):
    print(i,j)

0 ('name', 'prajna')
1 ('location', 'bangalore')

In [72]:
#find index of no 50 in the list
for i,val in enumerate(list(range(1,52))):
    #print(i,val)
    if val == 50:
        print(f"The index for no {val} is {i}")

The index for no 50 is 49

In [4]:
i = 0
while i < 50:
    print(i)
    break

0

In [5]:
i = 0
while i < 50:
    print(i)
    i+=1
else:
    print("Done with all work")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
Done with all work

In [6]:
i = 0
while i < 50:
    print(i)
    i+=1
print("Done with all work")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
Done with all work

In [9]:
my_list = [1,2,3]
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

1
2
3

while true:         
    print(something)                     
    break

In [13]:
while True :
    response = input("Say Something : ")
    if response == 'Bye':
        break

Say Something : Hi!
Say Something : Bye

### Break,Continue and Pass

break -- break statement breaks from the enclosing loop and goes for the next block or statements

continue -- continue statement skip all the remaining statements in the loop and move controls back to the top of the loop.

pass -- pass statement when you create a method that you don't want to implement, yet.

#### If we are still thinking what to write on code we can use pass

In [37]:
my_list = [1,2,3]

In [38]:

i = 0
while i < len(my_list):
    i += 1
    print(my_list[i])
    continue
    print(my_list[i])

2
3

IndexError: list index out of range

In [49]:
for i in 'hello':
    if(i == 'e'):
        print('pass executed')
        pass
        print(i)
    else:
        print("exception")
##here pass runs the next statemnts after it to

exception
pass executed
e
exception
exception
exception

In [45]:
for i in 'hello':
    if(i == 'e'):
        print('continue executed')
        continue
        print(i)
    else :
        print("exception")
        
### see here continue completes the for loop skipping the next statements

exception
continue executed
exception
exception
exception

In [48]:
for i in 'hello':
    if(i == 'e'):
        print('break executed')
        break
        print(i)
    else :
        print("exception")
        
## here after break entire for loop is broken

exception
break executed

In [50]:
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]]

In [70]:
for img in picture:
    for pixel in img :
        if (pixel == 1):
            print("*",end = '')
        else:
            print(" ",end = '')
    print('')

   *
  ***
 *****
*******
   *
   *

In [76]:
print("I am Amazing",end = ',')
print("good job",end = ' ')
#By default after a print statement the end is a new line, we can change it as per our convnience

I am Amazing,good job